.homepage-graphic.elections-balanceofpower .balance-of-power-results {

	.title {
		@include rhythm(0, 0, 0, 1/3);
	}

	$numberPadding: 0.5em;

	.numbersAndLabels {
		width: 100%;
		overflow: hidden;
		position: relative;

		.democratic {
			float: left;
			text-align: left;

			color: $democraticFull;

			.number {
				padding-right: $numberPadding;
			}
		}

		.republican {
			float: right;
			text-align: right;

			color: $republicanFull;

			.number {
				padding-left: $numberPadding;
			}
		}

		.undecided {
			position: absolute;
			top: 0;
			width: 100%;
			text-align: center;
			color: $neutral;

			.number {
				padding-right: $numberPadding;
			}
		}
	}

	&._400,
	&._500 {
		.numbersAndLabels {
			.democratic > div,
			.undecided > div,
			.republican > div {
				display: inline-block;
			}
		}
	}

	.bars {
		height: 2em;
		background: $neutral;
		width: 100%;
		overflow: hidden;

		.democratic {
			float: left;
			text-align: left;

			height: 100%;
			background: $democraticFull;
		}

		.republican {
			float: right;
			text-align: right;

			height: 100%;
			background: $republicanFull;
		}
	}

	.change {
		.democratic {
			float: left;
			text-align: left;

			color: $democraticFull;
		}

		.republican {
			float: right;
			text-align: right;

			color: $republicanFull;
		}
	}
	
}