.multiple-balance-of-power-results .balance-of-power {

	width: 100%;
	overflow: hidden;
	@include rhythm(0, 0, 0, 1);

	.title {
		@include rhythm(0, 0, 0, 1/3);
	}

	$numberPadding: 0.5em;

	%democratic {
		float: left;
		text-align: left;
		color: $democratic;
	}

	%republican {
		float: right;
		text-align: right;
		color: $republican;
	}

	.numbersAndLabels {
		width: 100%;
		overflow: hidden;
		position: relative;

		.democratic {
			@extend %democratic;

			.number {
				padding-right: $numberPadding;
			}
		}

		.republican {
			@extend %republican;

			.number {
				padding-left: $numberPadding;
			}
		}

		.undecided {
			position: absolute;
			top: 0;
			width: 100%;
			text-align: center;
			color: $neutral;

			.number {
				padding-right: $numberPadding;
			}
		}
	}

	&._400,
	&._500 {
		.numbersAndLabels {
			.democratic > div,
			.undecided > div,
			.republican > div {
				display: inline-block;
			}
		}
	}

	.bars {
		height: 2em;
		background: $neutral;
		width: 100%;
		overflow: hidden;

		.democratic {
			@extend %democratic;

			height: 100%;
			background: $democratic;
		}

		.republican {
			@extend %republican;

			height: 100%;
			background: $republican;
		}
	}

	.change {
		.democratic {
			@extend %democratic;
		}

		.republican {
			@extend %republican;
		}
	}
	
}