// 5, 7, 9, 12, 16, 21, 28, 37, 50, 67, 83

.multiple-balance-of-power-results .balance-of-power {

	.title {
		font-family: $sansSerifStrong;
	}

	.numbersAndLabels {
		.number > span {
			font-family: $serifStrong;
		}
		.label > span {
			font-family: $sansSerifStrong;
		}
	}
	.change > div > span {
		font-family: $sansSerifStrong;
	}

	&._100 {
		.title {
			@include adjust-font-size-to(28px, 1.5);
		}

		.numbersAndLabels {
			.number > span {
				@include adjust-font-size-to(37px, 1.5);
			}
			.label > span {
				@include adjust-font-size-to(12px);
			}
		}
		.change > div > span {
			@include adjust-font-size-to(12px);
		}
	}

	&._200 {
		.title {
			@include adjust-font-size-to(28px, 1.5);
		}

		.numbersAndLabels {
			.number > span {
				@include adjust-font-size-to(37px, 1.5);
			}
			.label > span {
				@include adjust-font-size-to(16px);
			}
		}
		.change > div > span {
			@include adjust-font-size-to(16px);
		}
	}

	&._300 {
		.title {
			@include adjust-font-size-to(28px, 1.5);
		}

		.numbersAndLabels {
			.number > span {
				@include adjust-font-size-to(50px);
				@include adjust-leading-to(1/2);
			}
			.label > span {
				@include adjust-font-size-to(21px);
			}
		}
		.change > div > span {
			@include adjust-font-size-to(21px);
		}
	}

	&._400 {
		.title {
			@include adjust-font-size-to(28px, 1.5);
		}

		.numbersAndLabels {
			.number > span {
				@include adjust-font-size-to(50px);
			}
			.label > span {
				@include adjust-font-size-to(21px);
			}
		}
		.change > div > span {
			@include adjust-font-size-to(21px);
		}
	}

	&._500 {
		.title {
			@include adjust-font-size-to(28px, 1.5);
		}

		.numbersAndLabels {
			.number > span {
				@include adjust-font-size-to(67px);
			}
			.label > span {
				@include adjust-font-size-to(21px);
			}
		}
		.change > div > span {
			@include adjust-font-size-to(21px);
		}
	}
}