$democraticFull: rgb(64, 86, 149);
$republicanFull: rgb(180, 48, 48);
$independentFull: #1b9b14;

$borderColor: #e2e2df;

$winningBackground: #f2f2e8;

$lessImportant: #777;
$neutral: #999;

$qualitativeColor_0: #a6cee3;
$qualitativeColor_1: #1f78b4;
$qualitativeColor_2: #b2df8a;
$qualitativeColor_3: #33a02c;
$qualitativeColor_4: #fb9a99;
$qualitativeColor_5: #e31a1c;
$qualitativeColor_6: #fdbf6f;
$qualitativeColor_7: #ff7f00;
$qualitativeColor_8: #cab2d6;
$qualitativeColor_9: #6a3d9a;