// primary
$black: rgba(58, 62, 65, 1);
$red: rgba(234, 33, 45, 1);
$blue: rgba(89, 136, 157, 1);
$steel: rgba(142, 157, 166, 1);
$green: rgba(157, 186, 115, 1);
$gold: rgba(250, 186, 84, 1);
$orange: rgba(244, 148, 87, 1);

// secondary
$brick: rgba(191, 97, 81, 1);
$periwinkle: rgba(144, 177, 192, 1);
$celery: rgba(194, 204, 161, 1);
$goldenrod: rgba(253, 205, 128, 1);
$peach: rgba(250, 186, 125, 1);
$lilac: rgba(204, 180, 200, 1);
$putty: rgba(181, 153, 125, 1);

// tertiary
$dusk: rgba(202, 210, 215, 1);
$rose: rgba(223, 195, 182, 1);
$sky: rgba(195, 213, 222, 1);
$celadon: rgba(207, 215, 200, 1);
$lemongrass: rgba(238, 234, 208, 1);
$tan: rgba(238, 224, 215, 1);
$wisteria: rgba(220, 218, 229, 1);
$khaki: rgba(227, 225, 214, 1);

// backgrounds
$cool: rgba(236, 237, 238, 1);
$neutral: rgba(237, 236, 228, 1);
$warm: rgba(235, 243, 247, 1);

// black and white
$bw100: rgba(76, 77, 78, 1);
$bw75: rgba(147, 149, 151, 1);
$bw50: rgba(188, 189, 191, 1);
$bw25: rgba(221, 222, 224, 1);

// maps
$water: rgba(163, 185, 182, 1);
$land: rgba(211, 216, 177, 1);
$streets: rgba(231, 230, 221, 1);
$buildings: rgba(203, 203, 196, 1);