$nav-rule-width: 1px;
$nav-rule: $nav-rule-width #ccc solid;

.elections-linkbar {
	border-bottom: $nav-rule;
	clear: both;
	width: 100%;
	height: 4em;
	line-height: 4;
	padding-bottom: 1em;
	overflow: hidden;

	a,
	h1, {
		display: inline-block;
	}

	a {
		margin-left: 1em;
	}

	&__check-icon {
		@extend %elections-linkbar-sprite;
		background-position: 0 0;
		display: inline-block;
		margin-right: .25em;
		position: relative;
		top: .25em;
		width: 33px;
		height: 31px;
	}
}


%elections-linkbar-sprite {
	background-image: url('//cache.boston.com/multimedia/graphics/projectFiles/2014/11/assets/election-nav__icons.svg');

	.no-svg & {
		background-image: url('//cache.boston.com/multimedia/graphics/projectFiles/2014/11/assets/election-nav__icons.png');
	}
}