.igraphic-graphic {
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
}

#elections-town {

	// .town {

	// 	@include rhythm(3, 0, 0, 4);

	// 	table {
	// 		@include rhythm(0, 0, 0, 0);
	// 	}

	// }
}