#elections-strip {
	
	$bp-full: 1232px;
	$bp-large: 1023px;
	$bp-medium: 767px;
	$globe-red: #9B1518;
	$globe-red-light: #ef8a8c;

	.strip {
		height: 100%;
		overflow: hidden;	
	}

	margin: 1em 0;
	height: 100%;
	overflow: hidden;
	color: #333;
	font-size: $s3;
	font-family: $sansSerif;
	line-height: 1.3;

	a {
		font-weight: bold;
		text-decoration: underline;
	}

	.social-share {
		@include breakpoint(max-width $bp-full) {
			display: none;
		}
	}

	.social-icon {
		background: url(http://c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/socialmedia-sprite.png) no-repeat;
		overflow: hidden;
		color: transparent;
		width: 24px;
		height: 24px;
		margin-right: 0.5em;
		display: inline-block;
		background-size: cover;
	}

	.social-icon.tw {
		background-position: 3px -107px;
		background-color: #55acee;
	}

	.social-icon.fb {
		background-position: 7px -22px;
		background-color: #3b5998;
	}

	.strip-title {
		font-weight: bold;
		font-size: $s4;
		@include breakpoint(max-width $bp-full) {
			font-size: $s3p5;
		}
	}

	.strip-section {
		float: left;
		height: 100%;
		overflow: hidden;
		@include breakpoint(max-width $bp-medium) {
			display: none;
		}
	}

	.section-reporting {
		width: 15%;
		padding-right: 0.5em;
		@include breakpoint(max-width $bp-large) {
			width: 17%;
		}
	}

	.section-matchup {
		width: 55%;
		padding-right: 1em;
		height: 100%;
		overflow: hidden;

		@include breakpoint(max-width $bp-large) {
			width: 53%;
		}

		.matchup-container {
			width: 50%;
			padding-left: 1.5em;

			@include breakpoint(max-width $bp-large) {
				padding-left: 1em;
			}
			border-right: 1px solid #ccc;
			float: left;

			&.winner {
				.matchup-name {
					position: relative;
					&:before {
						content: "\02713";
						position: absolute;
						color: $midGreen;
						left: -0.9em;
					}
				}
			}
		}
		.fl {
			padding-right: 1.5em;
			float: left;
		}
		.matchup-left {
			width: 50%;
			@include breakpoint(max-width $bp-large) {
				width: 65%;
				padding-right: 0.25em;
			}
		}
		.matchup-middle {
			width: 25%;
			@include breakpoint(max-width $bp-large) {
				display: none;
				width: 0;
			}
		}
		.matchup-right {
			width: 25%;
			@include breakpoint(max-width $bp-large) {
				width: 35%;
				padding-right: 0.5em;
				// display: none;
				// width: 0;
			}
		}
		.matcup-pic {
			border-bottom: 1px solid #ccc;
		}

		.matchup-party {
			text-transform: uppercase;
			color: #666;
			font-size: $s2;
			font-weight: bold;
			margin-bottom: 0.5em;
			&.democrat {
				color: $democrat;
			}
			&.republican {
				color: $republican;
			}
		}
		.matchup-name {
			font-size: $s4;
			font-weight: bold;
			@include breakpoint(max-width $bp-full) {
				font-size: $s3p5;
			}
		}
		.matchup-votes {
			font-size: $s3;
		}

		.matchup-percent {
			color: #fff;
			padding: 0.5em;
			margin-left: 0.25em;
			&.democrat {
				color: $democrat;
			}
			&.republican {
				color: $republican;
			}
		}

		.matchup-pic {
			img {
				display: block;
			}
		}

		.percent-box{
			position: relative;
			width: 100%;		/* desired width */
		}
		.percent-box:before{
			content: "";
			display: block;
			padding-top: 100%; 	/* initial ratio of 1:1*/
		}
		.percent-content{
			line-height: 2;
			font-size: $s5;
			color: $globe-red;
			font-weight: bold;
		}
	}

	.section-table {
		width: 30%;
		padding-left: 0.5em;
		.table-row {
			height: 100%;
			overflow: hidden;
			margin: 0 0 .75em 0;
			border-bottom: 1px solid #ccc;
		}
		.table-name {
			width: 33.4%;
			float: left;
			font-weight: bold;
			@include breakpoint(max-width $bp-large) {
				width: 60%;
			}
		}
		.table-votes {
			width: 33.3%;
			float: left;
			text-align: center;
			@include breakpoint(max-width $bp-large) {
				font-size: $s2;
				width: 30%;
				text-align: left;
			}
		}
		.table-percent {
			width: 33.3%;
			float: left;
			text-align: right;
			font-weight: bold;
			@include breakpoint(max-width $bp-large) {
				width: 10%;
			}
		}
	}

	.hide-large {
		@include breakpoint(max-width $bp-large) {
			display: none;
		}
	}

	.show-large {
		display: none;
		@include breakpoint(min-width $bp-large + 1) {
			display: none;
		}
	}
}

.elections-graphic .candidates-table tr.candidate-summary {
	line-height: 0;
}

.elections-graphic .candidates-table td.candidate-photo {
	display: none;
}

.elections-graphic .candidates-table td.candidate-name .name {
	font-size: 1.2em;
}

.elections-graphic .title.is-header {
	font-size: 2em;
}

.elections-graphic .candidates-table {
	margin: 1em 0;
}

