.elections-graphic.elections-summaryresults {
	// @include rhythm(0, 0, 0, 2);

	@include adjust-font-size-to($s6);

	&.homepage-graphic {
		@include adjust-font-size-to($s5p5);
	}

	&.article-graphic {
	}

	.summary-result {
		@include rhythm(0, 0, 0, 0);
		// font-size: 1.5rem;

		.title.is-subheader {
			@include adjust-font-size-to($s4, 1);
		}

		.candidates-table {

			@include rhythm(0, 0, 0, 0);

			tr {
				// line-height: 1.5;
			}

		}

	}

	.summary-result:nth-child(n+3) {
		// background: red;
		// @include rhythm(2, 0, 0, 2);
	}

}