.elections-graphic.elections-summaryresults {
	// @include rhythm(0, 0, 0, 2);

	@include adjust-font-size-to($s6);

	&.homepage-graphic {
		font-size: 1.5rem;
	}

	&.article-graphic {
	}

	.summary-results {
		font-size: 1.5rem;
	}

	.summary-result {
		@include rhythm(0, 0, 0, 0);
		font-size: 1.5rem;
		margin-bottom: 2em;

		.title.is-subheader {
			@include adjust-font-size-to($s4, 1);
		}

		.candidates-table {

			@include rhythm(0, 0, 0, 0);

			tr {
				// line-height: 1.5;
			}

			.candidate-summary {
				line-height: 1em;

				.name {
					font-size: 1.2em;
					line-height: 1em;
				}
			}

		}

	}

	.summary-result:nth-child(n+3) {
		// background: red;
		// @include rhythm(2, 0, 0, 2);
	}

}

.elections-graphic .candidates-table-wrapper {
	margin-bottom: 0.5em;
}