.header {
	visibility: visible;
}

#elections-detailedresults {

	.choropleth {
		border: solid grey 1px;

		path {
			fill: none;
			stroke: none;			
		}

		.outline {
			fill: none;
			stroke: blue;
		}



		.reporting-unit {
			fill: none;
			stroke: red;
		}
	}
	
}