.header {
	visibility: visible;
}

#elections-detailedresults {

	// TODO: refactor this, too much duplication
	.choropleth {
		border: solid grey 1px;

		svg {
			vertical-align: bottom;
		}

		path {
			fill: none;
			stroke: none;
		}

		.master-region {
			stroke: grey;
		}

		.region {
			stroke: black;
		}

		.notinrace {
			fill: white;
		}

		.inrace-nowinner-novotes {
			stroke: white;
			fill: white;
		}

		.inrace-nowinner-votes-tie {
			stroke: white;
			fill: #AAA;
		}

		.inrace-nowinner-votes-notie {
			stroke: white;
			&.democratic  { fill: $blueWeak;           }
			&.republican  { fill: $redWeak;            }
			&.independent { fill: $yellowWeak;         }
			&.color_0     { fill: $qualitativeColor_0; }
			&.color_1     { fill: $qualitativeColor_1; }
			&.color_2     { fill: $qualitativeColor_2; }
			&.color_3     { fill: $qualitativeColor_3; }
			&.color_4     { fill: $qualitativeColor_4; }
			&.color_5     { fill: $qualitativeColor_5; }
			&.color_6     { fill: $qualitativeColor_6; }
			&.color_7     { fill: $qualitativeColor_7; }
			&.color_8     { fill: $qualitativeColor_8; }
			&.color_9     { fill: $qualitativeColor_9; }
		}

		.inrace-winner-novotes {
			stroke: white;
			fill: white;
		}

		.inrace-winner-votes-tie {
			stroke: white;
			fill: #777;
		}

		.inrace-winner-votes-notie {
			stroke: white;
			&.democratic  { fill: $blue;               }
			&.republican  { fill: $red;                }
			&.independent { fill: $yellow;             }
			&.color_0     { fill: $qualitativeColor_0; }
			&.color_1     { fill: $qualitativeColor_1; }
			&.color_2     { fill: $qualitativeColor_2; }
			&.color_3     { fill: $qualitativeColor_3; }
			&.color_4     { fill: $qualitativeColor_4; }
			&.color_5     { fill: $qualitativeColor_5; }
			&.color_6     { fill: $qualitativeColor_6; }
			&.color_7     { fill: $qualitativeColor_7; }
			&.color_8     { fill: $qualitativeColor_8; }
			&.color_9     { fill: $qualitativeColor_9; }
		}
	}
	
}