.header {
	visibility: visible;
}

#elections-detailedresults {

	// TODO: refactor this, too much duplication
	.choropleth {
		width: 100%;
		position: relative;
		border: solid $streets 1px;

		svg {
			vertical-align: bottom;
		}

		path {
			fill: none;
			stroke: none;
			stroke-linecap: square;
			stroke-linejoin: round;

			&.point {
				fill: black;
			}
		}

		.all-towns-outline {
			stroke: $bw25;
			stroke-width: 2px;
		}

		.race-towns-outline {
			stroke: black;
			stroke-width: 2px;
		}

		.notinrace {
			fill: white;
		}

		.inrace-nowinner-novotes {
			stroke: white;
			fill: white;
		}

		.inrace-nowinner-votes-tie {
			stroke: white;
			fill: red;
		}

		.inrace-nowinner-votes-notie {
			stroke: white;
			&.democratic  { fill: $democraticLeaning;  }
			&.republican  { fill: $republicanLeaning;  }
			&.independent { fill: $independentLeaning; }
			&.color_0     { fill: $qualitativeColor_0; }
			&.color_1     { fill: $qualitativeColor_1; }
			&.color_2     { fill: $qualitativeColor_2; }
			&.color_3     { fill: $qualitativeColor_3; }
			&.color_4     { fill: $qualitativeColor_4; }
			&.color_5     { fill: $qualitativeColor_5; }
			&.color_6     { fill: $qualitativeColor_6; }
			&.color_7     { fill: $qualitativeColor_7; }
			&.color_8     { fill: $qualitativeColor_8; }
			&.color_9     { fill: $qualitativeColor_9; }
		}

		.inrace-winner-novotes {
			stroke: white;
			fill: white;
		}

		.inrace-winner-votes-tie {
			stroke: white;
			fill: red;
		}

		.inrace-winner-votes-notie {
			stroke: white;
			&.democratic  { fill: $democratic;         }
			&.republican  { fill: $republican;         }
			&.independent { fill: $independent;        }
			&.color_0     { fill: $qualitativeColor_0; }
			&.color_1     { fill: $qualitativeColor_1; }
			&.color_2     { fill: $qualitativeColor_2; }
			&.color_3     { fill: $qualitativeColor_3; }
			&.color_4     { fill: $qualitativeColor_4; }
			&.color_5     { fill: $qualitativeColor_5; }
			&.color_6     { fill: $qualitativeColor_6; }
			&.color_7     { fill: $qualitativeColor_7; }
			&.color_8     { fill: $qualitativeColor_8; }
			&.color_9     { fill: $qualitativeColor_9; }
		}

		.active {
			stroke-width: 10px;
			stroke: black;
		}

		.minimap {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 30%;
			background: white;

			svg {
				.race-towns-outline {
					fill: black;
				}

				.all-towns-outline {
					stroke: black;
					stroke: none;
					fill: $streets;
				}
			}
		}

	}
	
}