.elections-graphic .balance-of-power {

	@include rhythm(0, 0, 0, 2);

	.title {
		@include adjust-font-size-to($s4, 1);
	}

	font-family: $sansSerif;

	.bars {
		width: 100%;
		overflow: hidden;

		> div {
			float: left;
		}

		.democrat { background: $democrat; }
		.independent { background: $independent; }
		.republican { background: $republican; }
		.undecided { background: $bw10; }
	}

	.labels {
		@include adjust-font-size-to($s4);
		@include adjust-leading-to(1);
		font-weight: bold;
		color: black;
		width: 100%;
		overflow: hidden;
		position: relative;

		.democrat {
			float: left;
		}

		.republican {
			float: right;
		}

		.independent {
			position: absolute;
			width: 100%;
			text-align: center;
		}
	}

	.change {
		@include adjust-font-size-to($s3);
		@include adjust-leading-to(1);
		color: $bw90;
		width: 100%;
		overflow: hidden;

		.democrat {
			float: left;
		}

		.republican {
			float: right;
		}
	}

	.key {
		width: 100%;
		overflow: hidden;

		.square {
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: text-bottom;
		}

		.text {
			color: $bw90;
			@include adjust-font-size-to($s3);
		}

		.undecided {
			float: left;

			.square {
				margin-right: 0.5em;
				background: $bw10;
				border: solid $bw75 1px;
			}
		}

		.independent {
			float: right;

			.square {
				background: $independent;
				border: solid darken($independent, 50%) 1px;

				margin-left: 0.5em;
			}
		}
	}
}