.elections-graphic .balance-of-power {

	@include rhythm(0, 0, 0, 2);

	.race-name {
		text-align: left;
		@include trailing-border();
		border-width: 1px;
		border-color: $bw35;
		@include rhythm(0, 0, 1/4, 0);
	}

	.bars {

		width: 100%;
		overflow: hidden;
		background: $bw10;
		@include rhythm(1, 0, 0, 1/4);

		.democrat {
			float: left;
			background: $democrat;
		}

		.republican {
			float: right;
			background: $republican;
		}

	}

	.total {
		width: 100%;
		overflow: hidden;
		position: relative;

		> div > span {
			font-family: $sansSerif;
			@include adjust-font-size-to($s5);
			@include adjust-leading-to(1);
			font-weight: bold;
			color: black;
		}

		.democrat {
			float: left;
		}

		.republican {
			float: right;
		}

		.undecided {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
		}
	}

	.change {
		width: 100%;
		overflow: hidden;
		position: relative;
		@include trailing-border();
		border-width: 1px;
		border-color: $bw10;
		@include rhythm(0, 0, 1, 0);

		> div > span {
			font-family: $sansSerif;
			@include adjust-font-size-to($s5, 1);
			color: $bw90;
		}

		.democrat {
			float: left;
		}

		.republican {
			float: right;
		}
	}

}