.elections-graphic .candidate-summary {

	// width: 100%;
	// overflow: hidden;

	// .candidate-name {
	// 	display: inline-block;

	// 	.winner {
	// 		font-family: $sansSerif;
	// 		@include adjust-font-size-to($s4);
	// 		color: $midGreen;
	// 	}

	// 	.name {
	// 		font-family: $sansSerifStrong;
	// 		@include adjust-font-size-to($s5);
	// 	}
	// }

	// .candidate-percent {
	// 	display: inline-block;

	// 	.percent {
	// 		font-family: $sansSerif;
	// 		@include adjust-font-size-to($s4);
	// 	}
	// }

	// .candidate-votes {
	// 	display: inline-block;

	// 	.votes {
	// 		font-family: $sansSerif;
	// 		@include adjust-font-size-to($s3);
	// 		color: $bw90;
	// 	}
	// }

}