.elections-graphic .candidates-table {

	position: relative;

	$yesToBars: 480px;

	width: 100%;

	%rowRhythm {
		// @include rhythm(0, 0, 1/4, 0);
		border-bottom: solid $bw10 1px;
	}

	%incumbent {
		margin-left: 0.5em;
		position: relative;
		bottom: 2px;
		border: solid $bw75 1px;
		border-radius: 3px;
		color: $bw75;
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-family: $sansSerif;
		@include adjust-font-size-to($s2, 1);
	}

	td.candidate-party {

		.party {
			text-transform: capitalize;
			font-family: $sansSerif;
			@include adjust-font-size-to($s3, 0.5);
			color: $bw90;
		}
	}

	tr.candidate-summary {
		@include adjust-leading-to(4/3);
	}

	td.candidate-photo {

		@include rhythm(0, 1/2, 0, 0);

		@extend %rowRhythm;
		div {
			width: 4em;
			margin-right: 0.5em;

			img {
				vertical-align: text-top;
			}
		}
	}

	td.candidate-name {

		@extend %rowRhythm;

		.winner {
			font-family: $sansSerif;
			@include adjust-font-size-to($s4, 1);
			color: $midGreen;
			padding-right: 0.25em;
		}

		.name {
			font-family: $serif;
			@include adjust-font-size-to($s5, 1);
			white-space: nowrap;
		}

		.incumbent {
			@extend %incumbent;
		}

	}

	td.candidate-percent {

		@extend %rowRhythm;

		width: 1%;
		text-align: right;

		.percent {
			font-family: $sansSerif;
			font-weight: bold;
			@include adjust-font-size-to($s4, 1);

			@include breakpoint(600px) {
				@include adjust-font-size-to($s3p5, 1);
			}
		}

		@include breakpoint($yesToBars) {
			padding-left: 2em;
			padding-right: 0.5em;
		}
	}

	.candidate-bar {
		display: none;

		@include breakpoint($yesToBars) {
			display: table-cell;
		}
	}

	td.candidate-bar {

		width: 100%;
		@extend %rowRhythm;

		.bar {
			display: inline-block;
			width: 100%;
			background: $bw10;
			@include adjust-leading-to(1/3);
		}

		.fill {
			display: inline-block;
			&.republican { background: $republican; }
			&.democrat { background: $democrat; }
			&.independent { background: $independent; }
		}
	}

	td.candidate-votes {

		@extend %rowRhythm;

		padding-left: 2em;

		width: 1%;
		text-align: right;
		white-space: nowrap;

		.votes {
			font-family: $sansSerif;
			@include adjust-font-size-to($s3, 1);
			color: $bw90;
		}
	}

	td.candidate-uncontested {

		@extend %rowRhythm;

		padding-left: 2em;

		text-align: right;
		white-space: nowrap;

		.uncontested {
			font-family: $sansSerif;
			@include adjust-font-size-to($s3, 1);
			color: $bw90;
		}
	}

	tfoot {

		tr td.incumbent {

			.logo {
				@extend %incumbent;
				margin-left: 0;
				margin-right: 0.5em;
				position: relative;
				bottom: 1px;
			}

			.text {
				color: $bw75;
				font-family: $sansSerif;
				@include adjust-font-size-to($s3, 1);
				text-transform: capitalize;
			}
		}

		tr td.precincts {
			position: absolute;
			right: 0;
			font-family: $sansSerif;
			@include adjust-font-size-to($s3);
			@include adjust-leading-to(7/4);
			color: $bw75;
		}
	}

}