.elections-graphic .choropleth-container {

	position: relative;
}

.elections-graphic .choropleth {

	.hide {
		display: none;
	}

	width: 100%;
	position: relative;
	// border: solid $streets 1px;

	svg {
		vertical-align: bottom;
	}

	path {
		fill: none;
		stroke: none;
		stroke-linecap: square;
		stroke-linejoin: round;
	}

	g.labels {
		pointer-events: none;

		line {
			stroke-width: 16;
			stroke-linecap: round;
			stroke: black;	
		}

		text {
			font-family: $sansSerif;
			text-transform: capitalize;
			@include adjust-font-size-to($s8);
			text-shadow: white 0 0 2px;
		}
	}

	g.features path {
		stroke: white;

		&.active {
			stroke-width: 5px;
			stroke: black;
		}
	}

	.all-towns-outline {
		stroke: $bw25;
		stroke-width: 2px;
	}

	.race-towns-outline {
		stroke: black;
		stroke-width: 1px;
	}


	.minimap {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30%;
		background: white;
		border: solid 1px $bw50;
		padding-top: 0.25em;

		svg {
			.race-towns-outline {
				fill: black;
			}

			.all-towns-outline {
				stroke: black;
				stroke: none;
				fill: $streets;
			}
		}
	}
}