.elections-graphic .election-nav {

	$second: 1000px;
	$third: 1120px;

	// background: $bw10;
	border-bottom: solid $bw35 1px;

	@include rhythm(0, 1, 1, 0);
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	overflow: hidden;

	.logo {
		@include breakpoint(810px) {
			// padding-left: 3em;
		}
		display: inline-block;
		> span {
			font-family: $sansSerif;
			font-weight: bold;
			color: black;
			@include adjust-font-size-to($s6, 1);

			@include breakpoint($second) {
				// @include adjust-font-size-to($s7, 1);
			}

			svg {
				width: 1.25em;
				margin-right: 0.25em;
				position: relative;
				bottom: -0.15em;
			}
		}
	}

	.election-nav-select {
		margin-left: 4em;
		position: relative;
		bottom: 0.5em;
		margin-top: 0.5em;

			&:after {
				content:'\25BE';
				position: absolute;
		        top: 4px;
		        right: 5px;
		        bottom: 0;
		        font-size: 150%;
		}

		select {
			background: white;
			border: 1px solid $bw35;
			-webkit-appearance: none;
			@include border-radius(3px);
			padding: 0.5em 2em 0.5em 1em;
			font-family: $sansSerif;
			@include adjust-font-size-to($s5, 1);
			font-weight: bold;
			display: inline-block;
			width: 100%;
		}


		// display: none;

		@include breakpoint($third) {
			display: inline-block;
		}
	}

	.links {
		display: inline-block;
		padding-left: 2em;

		@include breakpoint($third) {
			padding-left: 0;
		}

		li {
			display: inline-block;
			padding-left: 4em;


			> span {
				font-family: $sansSerif;
				@include adjust-font-size-to($s5, 1);
				font-weight: bold;

				@include breakpoint($second) {
					// @include adjust-font-size-to($s6, 1);
				}

				>a {

					&:hover {
						color: #9B1518; //globe red
					}
				}
			}
		}
	}
}