.elections-graphic .share-tools {

	@include rhythm(1, 0, 0, 0);

	text-align: center;

	.tool {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		border: none;
		padding: 1em 2em;
		font-size: 100%;
		cursor: pointer;
		text-decoration: none;
		@include border-radius(3px);
		transition: all 0.25s ease;
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}
	}

	.twitter {
		background-color: rgb(85, 172, 238);
		background-image: inline-image('img/tw-icon.svg');
		background-position: 50%;
		background-repeat: no-repeat;

		&.no-svg {
			background-image: inline-image('img/tw-icon.png');
		}

		&:hover {
			background-color: shade(rgb(85, 172, 238), 20%);
		}
	}

	.facebook {
		background: rgb(59, 89, 172);
		background-image: inline-image('img/fb-icon.svg');
		background-position: 50%;
		background-repeat: no-repeat;

		&.no-svg {
			background-image: inline-image('img/fb-icon.png');
		}

		&:hover {
			background-color: shade(rgb(59, 89, 172), 20%);
		}
	}
}