.elections-graphic .summary {

	width: 100%;

	%rowRhythm {
		@include rhythm(0, 0, 1/4, 0);
		border-bottom: solid $bw10 1px;
	}

	.incumbent {
		margin-left: 0.5em;
		position: relative;
		bottom: 2px;
		border: solid $bw75 1px;
		border-radius: 3px;
		color: $bw90;
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-family: $sansSerif;
		@include adjust-font-size-to($s2, 1);
	}

	.candidate-party {

		@include rhythm(0, 1/4, 0, 0);

		.square {
			@include adjust-font-size-to($s5, 1);
			padding-right: 0.125em;

			&.republican { color: $republican; }
			&.democratic { color: $democratic; }
			&.independent { color: $independent; }
		}

		.party {
			text-transform: capitalize;
			font-family: $sansSerif;
			@include adjust-font-size-to($s3, 1);
			color: $bw100;
		}
	}

	.candidate-name {

		@extend %rowRhythm;

		.winner {
			font-family: $sansSerif;
			@include adjust-font-size-to($s4, 1);
			color: $midGreen;
			padding-right: 0.25em;
		}

		.name {
			font-family: $sansSerifStrong;
			@include adjust-font-size-to($s5, 1);
		}

	}

	.candidate-percent {

		@extend %rowRhythm;

		width: 1%;
		text-align: right;

		.percent {
			font-family: $sansSerif;
			font-weight: bold;
			@include adjust-font-size-to($s4, 1);
		}
	}

	.candidate-votes {

		@extend %rowRhythm;

		padding-left: 2em;

		width: 1%;
		text-align: right;
		white-space: nowrap;

		.votes {
			font-family: $sansSerif;
			@include adjust-font-size-to($s3, 1);
			color: $bw90;
		}
	}

	.summary-precincts {

		text-align: right;

		.precincts {
			font-family: $sansSerif;
			@include adjust-font-size-to($s3, 1);
			color: $bw90;
		}
	}

}