.elections-graphic .title {

	sup {
		vertical-align: super;
		font-size: smaller;
	}

	&.is-subheader {
		font-family: $sansSerif;
		@include adjust-font-size-to($s5, 1);
		@include trailing-border();
		border-width: 1px;
		border-color: $bw35;
		text-align: left;
		@include rhythm(0, 0, 0, 1/2);
		font-weight: bold;
		padding-bottom: 0.25em;
	}

	&.is-header {
		font-family: $serifStrong;
		@include adjust-font-size-to($s8, 2);
		text-align: center;
	}
}