body {
	overflow-x: hidden;
}

.elections-graphic .tooltip {

	pointer-events: none;

	position: absolute;
	width: 100%;
	max-width: 200px;
	border: solid black 1px;
	padding: 1em;
	background: white;

	.candidates-table {
		@include rhythm(0, 0, 0, 0);
	}

	.candidate-name {

		.name {
			@include adjust-font-size-to($s4, 1);
		}

	}

	.candidate-percent {

		.percent {
			@include adjust-font-size-to($s3, 1);
		}
	}

}