body {
	overflow-x: hidden;
}

.elections-graphic .tooltip {

	z-index: 10000;

	pointer-events: none;

	position: absolute;
	width: 100%;
	max-width: 200px;
	display: none;
	margin-bottom: 2em;

	.tooltip-inner {

		@include rhythm(0, 1/4, 1/4, 0);
		padding-left: 1em;
		padding-right: 1em;

		border: solid $bw75 1px;
		background: white;
		position: relative;
		left: -50%;
		font-size: 1.5rem;

		.candidates-table {
			@include rhythm(0, 0, 0, 0);

			.candidate-summary {

				&.add-top-space td {
					@include padding-leader(0);
				}

			}

			tfoot tr {
				position: relative;

				td.precincts {
					top: 0;
				}
			}

			.candidate-name {

				.name {
					@include adjust-font-size-to($s4, 1);
					white-space: nowrap;
				}

			}

			.candidate-percent {

				padding-left: 0;
				padding-right: 0;

				.percent {
					@include adjust-font-size-to($s3, 1);
				}
			}
		}
	}
}