.elections-graphic .town-by-town-results {

	.title {
		@include adjust-font-size-to($s5, 1);
		font-family: $sansSerifStrong;
	}

	table {
		@include rhythm(0, 0, 0, 0);
		font-family: $sansSerif;

		thead tr {

			th {
				color: $bw90;

				div > span {
					font-weight: normal;
					@include adjust-font-size-to($s4, 1);
				}

				div:nth-child(2) > span {
					@include adjust-font-size-to($s3, 1);
				}
			}

			th:first-child {
				div:first-child > span {
					color: $bw100;
				}				
			}

			th:nth-child(n+2) {

				div:first-child > span {
					font-weight: bold;
					color: black;
				}
			}
		}

		tbody tr {

			&:nth-child(odd) {
				background: $bw10;
			}

			td {
				div:first-child > span {
					font-weight: bold;
					@include adjust-font-size-to($s4, 1);
				}

				div:nth-child(2) > span {
					color: $bw90;
					@include adjust-font-size-to($s3, 1);
				}
			}

			td:first-child {
				div:first-child > span {
					@include adjust-font-size-to($s5, 1);
				}
			}
		}
	}
}