.elections-graphic .town-by-town-results {
	position: relative;

		&:before {
		content: '';
		position: absolute;
		top: 0;
		right: -1px;
		height: 100%;
		width: 35px;
		background: -webkit-linear-gradient( right , #FFF 10%, rgba(255, 255, 255, 0));
		background: linear-gradient(to left, #FFF 10%, rgba(255, 255, 255, 0));
		z-index: 5;
		pointer-events: none;
}


	.title {
		@include adjust-font-size-to($s5, 1);
		font-family: $sansSerifStrong;
		border-bottom: solid $bw50 1px;
		padding-bottom: 0.5em;
		margin-bottom: 1em;
	}

	.table-container { //horizontal scroll effects
		overflow-x: scroll;
	}

	table {
		@include rhythm(0, 0, 0, 0);
		font-family: $sansSerif;
		border-collapse: collapse;
		border-spacing: 0;
		border: solid $bw50 1px;

		thead {
			border-bottom: solid $bw50 1px;
		}

		thead tr {

			th {
				color: $bw90;
				padding: 0.5em 0.5em 0.5em 0; //equal spacing of content in table
				
				&:first-child {
					padding-left: 0.5em; //indents first th/tr for equal-looking spcing
				}


				div {
					line-height: 0; //collapses some of the extra spacing
				}

				div > span {
					font-weight: normal;
					@include adjust-font-size-to($s4, 1);
				}

				div:nth-child(2) > span {
					@include adjust-font-size-to($s3, 1);
				}
			}

			th:first-child {
				div:first-child > span {
					color: $bw100;
				}				
			}

			th:nth-child(n+2) {

				div:first-child > span {
					font-weight: bold;
					color: black;

					&.winner {
						font-family: $sansSerif;
						@include adjust-font-size-to($s4, 1);
						color: $midGreen;
						padding-right: 0.25em;
					}
				}
			}
		}

		tbody tr {

			&:nth-child(odd) {
				background: $bw10;
			}

			td {
				vertical-align: middle; //vertically aligns text in middle of cell
				padding: 0.5em 0.5em 0.5em 0; //equal spacing of content in table
				
				&:first-child {
					padding-left: 0.5em; //indents first th/tr for equal-looking spcing
				}


				div {
					line-height: 0; //collapses some of the extra spacing
				}

				div:first-child > span {
					font-weight: bold;
					@include adjust-font-size-to($s4, 1);
				}

				div:nth-child(2) > span {
					color: $bw90;
					@include adjust-font-size-to($s3, 1);
				}
			}

			td:first-child {
				div:first-child > span {
					font-family: $serif;
					@include adjust-font-size-to($s5, 1);
					font-weight: normal;
				}
			}
		}
	}
}